/* 樣式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 基本樣式重置 */
body {
    font-family: "Arial", sans-serif;
    transition: margin-left .5s;
    padding: 0;
    margin: 0;
}

.container {
    width: 60%; /* 更改這個數值來控制寬度 */
    margin: auto;
    text-align: left; /* 確保文字靠左對齊 */
}

/* 頁面標題區域 */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* 更新回首頁按鈕樣式 */
.home-button {
    position: absolute;
    bottom: 20px; /* 將按鈕向下移動 */
    right: 20px;  /* 將按鈕向右移動 */
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #575757;
}

/* Sidebar 彈跳選單樣式 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* GitHub 專案和 YouTube 視頻部分 */
.projects, .videos {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects h2, .videos h2 {
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

li h3 {
    margin-bottom: 10px;
}

li p {
    font-size: 1em;
    color: #666;
}

/* 頁面底部 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
