/* 樣式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 60%; /* 更改這個數值來控制寬度 */
    margin: auto;
    text-align: left; /* 確保文字靠左對齊 */
}

/* 頁面標題區域 */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Sidebar 彈跳選單樣式 */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    padding-top: 60px; /* 避免與 header 重疊 */
    transform: translateX(-100%); /* 隱藏選單 */
    transition: transform 0.3s ease;
}

.sidebar:hover {
    transform: translateX(0); /* 當滑鼠移過時顯示選單 */
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu li {
    padding: 10px;
    text-align: center;
}

.sidebar .menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar .menu li a:hover {
    background-color: #575757;
}


/* GitHub 專案和 YouTube 視頻部分 */
.projects, .videos {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects h2, .videos h2 {
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

li h3 {
    margin-bottom: 10px;
}

li p {
    font-size: 1em;
    color: #666;
}

/* 頁面底部 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
